// Primary Colors............

$prim-voilet: #5964e0;
$prim-Light-Violet: #939bf4;
$prim-Very-Dark-Blue: #19202d;
$prim-Midnight: #121721;

// Sceondary Colors

$second-White: #fff;
$second-Light-Gray: #f4f6f8;
$second-Gray: #9daec2;
$second-Dark-Gray: #6e8098;

// $small_screen:
